<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block complement_meta %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ URL }}/assets/css/default.css"/>
        <title>Auto-capture &bull; Documentation {% if title is defined %} &bull; {{ title }}{% endif %}</title>
    </head>
    <body>
        <div class="container">
            {% include 'templates/header.twig' %}

            <section class="col-lg-12">
                {% block section %}
                    {% include 'templates/navigation.twig' %}

                    <article class="col-md-10">
                        {{ content|raw }}
                    </article>
                {% endblock %}
            </section>
        </div>
    </body>
</html>