<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block complement_meta %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ URL }}/assets/css/default.css"/>
        {% block complement_css %}{% endblock %}
        <title>Auto-capture{% if title is defined %} &bull; {{ title }}{% endif %}</title>
    </head>
    <body>
        <noscript>
            <div class="alert alert-danger" style="text-align: center;font-size: 30px">
                <p>Attention, ce site ne fonctionnera pas correctement si JavaScript n'est pas activé !</p>
            </div>
        </noscript>

        {% block container %}
            <div class="container">
                {% include 'templates/header.twig' %}

                <section class="col-lg-12">
                    {% block section %}
                        {% include 'templates/navigation.twig' %}

                        <article class="col-md-10">
                            {% block article %}
                                {% block content %}{% endblock %}
                            {% endblock %}
                        </article>
                    {% endblock %}
                </section>
            </div>
        {% endblock %}


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        {% block complement_js %}{% endblock %}
    </body>
</html>