<aside class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        {#<li class="{{ tab.home }}"><a href="{{ URL }}/">Accueil</a></li>
        <li class="{{ tab.home }}"><a href="{{ URL }}/">Mes captures</a></li>
        <hr/>
        <li class="{{ tab.home }}"><a href="{{ URL }}/">Administration</a></li>
        #}
        <li><a href="{{ URL }}/doc">Documentation</a></li>
    </ul>
</aside>