.margin-none {
    margin: 0; }

.margin-top {
    margin-top: 10px; }

.margin-right {
    margin-right: 5px; }


/* Header */
header {
    background-color: #337AB7;
    height: 85px;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    color: white;
    box-shadow: 5px 10px 30px -9px rgba(0, 0, 0, 0.6);
    z-index: 0; }

#header-title {
    font-size: 2em;
    vertical-align: middle;
    margin-top: 25px; }

header a, header a:hover {
    color: white; }

#server {
    text-align: center;
    background-color: #337AB7;
    color: white;
    border-bottom: 2px solid white; }

#server p {
    margin: 0; }

/* Navigation */
.item-favori > a {
    padding: 5px 15px !important;
    font-size: 12px; }

/* Content */
.message {
    padding: 5px;
    border-radius: 5px; }

.sidebar {
    padding: 5px;
    background-color: #F7F7F7;
    border: 1px solid lightgray; }

.breadcrum {
    padding: 5px;
    background-color: #F7F7F7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.breadcrum-nolink {
    color: #337AB7; }