<aside class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ DOC_URL }}/">Accueil</a></li>
        <li><a href="{{ DOC_URL }}/auth">Authentification</a></li>
        <li><a href="{{ DOC_URL }}/screenshots">Captures</a></li>
        <li><a href="{{ DOC_URL }}/settings">Paramètres</a></li>
    </ul>
</aside>