{% set numberPage = 4 %}

<div class="progress">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="installNumber" aria-valuemin="0"
         aria-valuemax="{{ (100/numberPage) * installNumber }}" style="width:{{ (100/numberPage) * installNumber }}%">
        {{ installNumber }}/{{ numberPage }}
    </div>
</div>

<p class="alert alert-info">Toutes ces options pourront par la suite être modifié</p>

<form method="POST" action="">
    <div class="panel panel-default">
        <div class="panel-heading">{% block installTitle %}{% endblock %}</div>
        <div class="panel-body">{% block installContent %}{% endblock %}</div>
    </div>

    <div class="form-group text-center">
        {% if installNextPage is defined %}
            <input type="submit" name="submit" value="Suviant" class="btn btn-default"/>
        {% elseif installEnded is defined %}
            <input type="submit" name="submit" value="Terminer" class="btn btn-default"/>
        {% endif %}
    </div>
</form>