{% extends 'install_base.twig' %}

{% block content %}
    {% embed 'templates_pages/install/embed_install.twig' %}
        {% block installTitle %}Page d'installation 3{% endblock %}
        {% block installContent %}
            <div class="form-group">
                <label class="control-label">Autoriser l'enregistrement d'utilisateur via l'interface</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="register" value="false" checked/> Non
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="register" value="true"/> Oui
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>Quotas limite général (En Mo)</label>
                <input type="number" class="form-control" placeholder="Quotas limite général [En Mo]" value="50000" name="quotasgeneral"/>
            </div>

            <div class="form-group">
                <label>Quotas limite par utilisateur (En Mo)</label>
                <input type="number" class="form-control" placeholder="Quotas limite par utilisateur [En Mo]" value="1000" name="quotasuser"/>
            </div>
        {% endblock %}

        {% set installNumber = 3 %}
        {% set installNextPage = 4 %}
    {% endembed %}
{% endblock %}
