{% extends 'install_base.twig' %}

{% block content %}
    {% embed 'templates_pages/install/embed_install.twig' %}
        {% block installTitle %}Page d'installation 4 (Base de données){% endblock %}
        {% block installContent %}
            <div class="form-group">
                <label>Base de donnée: Hôte</label>
                <input type="text" class="form-control" placeholder="Hôte" name="db_host"/>
            </div>

            <div class="form-group">
                <label>Base de donnée: Nom d'utilisateur</label>
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="db_username"/>
            </div>

            <div class="form-group">
                <label>Base de donnée: Mot de passe</label>
                <input type="text" class="form-control" placeholder="Mot de passe" name="db_password"/>
            </div>

            <div class="form-group">
                <label>Base de donnée: Nom de la base</label>
                <input type="text" class="form-control" placeholder="Nom de la base" name="db_name"/>
            </div>
        {% endblock %}

        {% set installNumber = 4 %}
        {% set installEnded = True %}
    {% endembed %}
{% endblock %}
