{% extends 'install_base.twig' %}

{% block content %}
    {% embed 'templates_pages/install/embed_install.twig' %}
        {% block installTitle %}Page d'installation 1{% endblock %}
        {% block installContent %}
            <p class="alert alert-warning">Veuillez préparer une base de donnée avant de commencer l'installation</p>

            <div class="form-group">
                <label for="form-lang">Langue</label>
                <select class="form-control" id="form-lang" name="lang">
                    <option>English</option>
                    <option>Français (French)</option>
                </select>
            </div>
        {% endblock %}

        {% set installNumber = 1 %}
        {% set installNextPage = 2 %}
    {% endembed %}
{% endblock %}
