{% extends 'install_base.twig' %}

{% block content %}
    {% embed 'templates_pages/install/embed_install.twig' %}
        {% block installTitle %}Page d'installation 2 (Administrateur){% endblock %}
        {% block installContent %}
            <div class="form-group">
                <label>Nom d'utilisateur de l'administrateur</label>
                <input type="text" name="adminname" placeholder="Nom d'utilisateur de l'administrateur" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Mot de passe de l'administrateur</label>
                <input type="password" name="adminpassword" placeholder="Mot de passe de l'administrateur" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Confirmer le mot de passe</label>
                <input type="password" name="adminpasswordconfirm" placeholder="Confirmer le mot de passe" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Adresse email de l'administrateur</label>
                <input type="email" name="adminemail" placeholder="Adresse email de l'administrateur" class="form-control"/>
            </div>
        {% endblock %}

        {% set installNumber = 2 %}
        {% set installNextPage = 3 %}
    {% endembed %}
{% endblock %}
